/* Page Layout */
html,
body {
  margin: 0;
}

#WeatherKittyBody {
  display: grid;
  grid-template-columns: min-content minmax(0, 1fr);
  grid-template-rows: min-content minmax(0, 1fr) min-content;
  grid-template-areas:
    "logo header"
    "nav main"
    "footer footer";
}

#Logo {
  grid-area: logo;
  position: sticky;
  top: 0;
  border: black 3px solid;
  border-right: none;
  box-sizing: border-box;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

#Hamburger {
  border: red 3px solid;
  grid-area: nav;
  box-sizing: border-box;
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#HamburgerLinks {
  border: gray 3px solid;
  border-radius: 1em;
  box-sizing: border-box;
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  opacity: 1;
  margin: 0 0.5em;
}

#Hamburger a,
#Hamburger a:link,
#Hamburger a:visited {
  border: black 3px solid;
  border-radius: 1em;
  color: white;
  text-align: center;
  text-justify: center;
  text-decoration: none;
  font-weight: bolder;
  margin: 0.5em 1em;
  padding: 1.5em 0.66em;
}

#Hamburger a:hover {
  background-color: gray;
}

#WeatherKittyHeader {
  border: black 3px solid;
  border-left: none;
  box-sizing: border-box;
  grid-area: header;
  position: sticky;
  top: 0;
  background-color: #333;
  color: white;
  padding: 0.5em;
  text-align: left;
  overflow: hidden;

  display: flex;
  justify-content: end;
  align-items: center;
}

#WeatherKittyHeaderDiv {
  display: flex;
  flex-direction: column;
  align-items: end;
}

#WeatherKittyMain {
  border: black 3px solid;
  margin: 3px;
  box-sizing: border-box;
  grid-area: main;
  display: flex;
  flex-direction: column;
}

#WeatherKittySpacer {
  flex-grow: 1;
}

#WeatherKittyFooter {
  border: black 1px solid;
  box-sizing: border-box;
  grid-area: footer;
  font-size: small;
  margin: 0;
  display: flex;
}

#WeatherKittyFooter p {
  flex-grow: 1;
  text-align: right;
  font-size: small;
  margin: 0;
}

/* ---------------------------------------------------------------------------- */
/* media query for width and height of viewport */

@media (max-width: 450px), (max-height: 450px) {
  #WeatherKittyBody {
    display: grid;
    grid-template-columns: 4em 4em minmax(0, 1fr);
    grid-template-rows: 4em 1fr min-content;
    grid-template-areas:
      "logo nav header"
      "main main main"
      "footer footer footer";
  }

  #Hamburger {
    border: black 3px solid;
    border-left: none;
    border-right: none;
  }

  #HamburgerLinks {
    position: absolute;
    top: 2.35em;
    left: 4.7em;
    width: 0;
    height: 0;
    z-index: 1;
  }

  #Hamburger:hover {
    #HamburgerLinks {
      transition: width 0.15s, height 0.66s;
      width: 7em;
      height: 17em;
      opacity: 1;
    }
  }

  #WeatherKittyMain {
    grid-area: main;
  }

  #WeatherKittyNav {
    display: none;
  }

  #WeatherKittyHeader {
    grid-area: header;
    height: 4em;
  }

  weather-kitty {
    height: 4em;
  }
}
