/* Page Layout */
html,
body {
  height: 100%;
  margin: 0;
}

#WeatherKittyBody {
  display: grid;
  grid-template-columns: auto minmax(0, 1fr);
  grid-template-rows: min-content 1fr min-content;
  grid-template-areas:
    "header header"
    "nav main"
    "footer footer";
}

#WeatherKittyHeader {
  border: black 1px solid;
  box-sizing: border-box;
  grid-area: header;
  position: sticky;
  top: 0;
  background-color: #333;
  color: white;
  padding: 0.5em;
  text-align: left;
  overflow: hidden;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#WeatherKittyNav {
  border: green 3px solid;
  margin: 3px;
  box-sizing: border-box;
  grid-area: nav;
  width: auto;
}

#WeatherKittyMain {
  border: black 3px solid;
  margin: 3px;
  box-sizing: border-box;
  grid-area: main;
  display: flex;
  flex-direction: column;
}

#WeatherKittySpacer {
  flex-grow: 1;
}

#WeatherKittyFooter {
  border: black 1px solid;
  box-sizing: border-box;
  grid-area: footer;
  font-size: small;
  margin: 0;
  display: flex;
}

#WeatherKittyFooter p {
  flex-grow: 1;
  text-align: right;
  font-size: small;
  margin: 0;
}
