/* Page Layout */
html,
body {
  height: 100%;
  margin: 0;
}

#WeatherKittyBody {
  display: grid;
  grid-template-columns: auto minmax(0, 1fr);
  grid-template-rows: min-content 1fr min-content;
  grid-template-areas:
    "logo header"
    "nav main"
    "footer footer";
}

#LogoBurger {
  position: sticky;
  top: 0;
  border: black 1px solid;
  border-right: none;
  box-sizing: border-box;
  grid-area: logo;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

#Hamburger {
  display: none;
}

#HamburgerImg {
  display: none;
}

#WeatherKittyHeader {
  border: black 1px solid;
  border-left: none;
  box-sizing: border-box;
  grid-area: header;
  position: sticky;
  top: 0;
  background-color: #333;
  color: white;
  padding: 0.5em;
  text-align: left;
  overflow: hidden;

  display: flex;
  justify-content: end;
  align-items: center;
}

#WeatherKittyNav {
  border: green 3px solid;
  margin: 3px;
  box-sizing: border-box;
  grid-area: nav;
  width: auto;
  display: flex;
  flex-direction: column;
}

#WeatherKittyNav h3 {
  margin: 0 0.5em;
  text-justify: center;
  text-align: center;
  font-weight: bolder;
}

#WeatherKittyNavMenu {
  text-decoration: underline;
}

#WeatherKittyNav a {
  margin: 0.25em 0.5em;
  text-decoration: none;
  font-weight: bolder;
}

#WeatherKittyNav a:link,
#WeatherKittyNav a:visited {
  color: blue;
}

#WeatherKittyNav a:hover {
  background-color: lightblue;
}

#WeatherKittyMain {
  border: black 3px solid;
  margin: 3px;
  box-sizing: border-box;
  grid-area: main;
  display: flex;
  flex-direction: column;
}

#WeatherKittySpacer {
  flex-grow: 1;
}

#WeatherKittyFooter {
  border: black 1px solid;
  box-sizing: border-box;
  grid-area: footer;
  font-size: small;
  margin: 0;
  display: flex;
}

#WeatherKittyFooter p {
  flex-grow: 1;
  text-align: right;
  font-size: small;
  margin: 0;
}

/* ---------------------------------------------------------------------------- */
/* media query for width and height of viewport */

@media (max-width: 450px), (max-height: 450px) {
  #WeatherKittyBody {
    display: grid;
    grid-template-columns: 8rem minmax(0, 1fr);
    grid-template-rows: 4rem 1fr min-content;
    grid-template-areas:
      "logo header"
      "main main"
      "footer footer";
  }

  #LogoBurger {
    grid-area: logo;
    position: relative;
    height: 4rem;
  }

  #HamburgerImg {
    display: block;
  }

  #LogoBurger:hover {
    #Hamburger {
      transition: width 0.15s, height 0.66s;
      width: 7em;
      height: 17em;
      opacity: 1;
    }
  }

  #Hamburger {
    border: gray 3px solid;
    border-radius: 1em;
    box-sizing: border-box;
    background-color: #333;
    position: absolute;
    top: 45%;
    left: 62%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow: hidden;
    width: 0;
    height: 0;
    opacity: 1;
    margin: 0;
    padding: 0;
  }

  /* TRBL */
  #Hamburger a,
  #Hamburger a:link,
  #Hamburger a:visited {
    border: black 3px solid;
    border-radius: 1em;
    color: white;
    text-align: center;
    text-justify: center;
    text-decoration: none;
    font-weight: bolder;
    margin: 0.5em 1em;
    padding: 1.5em 0.66em;
    /* padding: 1.25em 0.5em 0 0.5em; */
  }

  #Hamburger a:hover {
    background-color: gray;
  }

  #WeatherKittyMain {
    grid-area: main;
  }

  #WeatherKittyNav {
    display: none;
  }

  #WeatherKittyHeader {
    grid-area: header;
    height: 4rem;
  }

  weather-kitty {
    height: 4rem;
  }
}
