:root {
  --weatherKittyBackgroundOpacity: 0.75;
}

weather-kitty {
  flex: 0 1 auto;
  display: flex;
  position: relative;
}

weather-kitty-current,
weather-kitty-forecast {
  box-sizing: border-box;
  position: relative;
  width: 5.67em;
  aspect-ratio: 1 / 1;
  display: grid; /* Grid (1x1) is working better for this use case than flex  */

  padding: 0.1em;
  text-wrap: pretty;
  hyphens: auto;
  text-align: center;
  justify-content: center;
  align-items: end;
  overflow: hidden;

  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-shadow: 0.05em 0.05em 0 black, -0.05em -0.05em 0 black,
    -0.05em 0.05em 0 black, 0.05em -0.05em 0 black, 0.1em 0.1em 0 black,
    -0.1em -0.1em 0 black, -0.1em 0.1em 0 black, 0.1em -0.1em 0 black;
}

weather-kitty-geoaddress {
  display: flex;
  align-items: center;
  justify-content: center;
}
weather-kitty-geoaddress span,
weather-kitty-geoaddress label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  color: white;
  margin: 0.25em;
  text-shadow: 0.05em 0.05em 0 black, -0.05em -0.05em 0 black,
    -0.05em 0.05em 0 black, 0.05em -0.05em 0 black, 0.1em 0.1em 0 black,
    -0.1em -0.1em 0 black, -0.1em 0.1em 0 black, 0.1em -0.1em 0 black;
}
weather-kitty-geoaddress span {
  display: none;
}

weather-kitty-geoaddress label {
  text-align: left;
  width: 10em;
  height: 1.2em;
  overflow: hidden;
}

weather-kitty-geoaddress button {
  margin: 0;
  padding: 0;
  font-size: x-small;
}

weather-kitty-current > img,
weather-kitty-forecast > img {
  position: absolute;
  z-index: -1;

  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center;
  opacity: var(--weatherKittyBackgroundOpacity);
}

weather-kitty-tooltip {
  position: absolute;
  top: 0;
  right: 0;
  justify-self: center;
  align-self: start;

  text-align: left;
  padding: 0.5em;
  border-radius: 0.5em;

  transition: all 0.33s;
  translate: 100vw -100vh;
  opacity: 0;

  width: 1px;
  height: 1px;

  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.75);
  border: black 3px solid;
  z-index: -10;
}

weather-kitty:hover,
weather-kitty-current:hover,
weather-kitty-forecast:hover {
  weather-kitty-current > img,
  weather-kitty-forecast > img,
  weather-kitty-current > span,
  weather-kitty-forecast > span {
    transition: all 0.33s;
    opacity: 0.5;
  }

  weather-kitty-tooltip,
  weather-kitty-tooltip span {
    color: white;
    transition: all 0.33s;
    translate: 0 0;
    width: 10.5em;
    height: max-content;
    opacity: 1;
    z-index: 10;
  }
}

/* Hide the sub-tooltip when inside a weather-kitty element.  */
weather-kitty > weather-kitty-current > weather-kitty-tooltip,
weather-kitty > weather-kitty-forecast > weather-kitty-tooltip {
  display: none;
}

/* ---------------------------------------------------------------------------- */
/* Matrix */
weather-kitty-week {
  border-radius: 1em;
  box-sizing: border-box;
  margin: 1em;
  text-align: center;
  text-justify: center;
  display: flex;
  justify-content: space-around;
  overflow-x: scroll;
  text-wrap: pretty;
  hyphens: auto;
}

weather-kitty-week img {
  margin: 0 0.25em;
}

weather-kitty-week-card {
  /* background-color: gainsboro;  */
  background-color: whitesmoke;
  border: black 1px solid;
  border-radius: 1em;
  margin: 0.25em;
  max-width: 6em;
}

weather-kitty-week-title {
  height: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

weather-kitty-week-summary {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 0.25em;
}
/* ---------------------------------------------------------------------------- */

weather-kitty-chart {
  background-color: whitesmoke;
  opacity: 1;
  border: 3px black solid;
  padding: 1em;
  border-radius: 1em;
  margin: 1em;
  box-sizing: border-box;
  flex: 1 1 auto;
  min-width: 0;
  min-height: 0;
  position: relative;
}

weather-kitty-chart > span {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  margin: 2em 0 0 3.5em;
  color: #606060;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}

/* required use of a container query */
/* use of padding required, margin still causes issues even with container query */
weather-kitty-map-forecast,
weather-kitty-map-radar,
weather-kitty-map-alerts {
  container-type: size;
  container-name: weather-kitty-map;
  box-sizing: border-box;
  aspect-ratio: 1.38;
  width: 100%;
  padding: 1em;
}

/* required use of container units */
weather-kitty-map-forecast img,
weather-kitty-map-radar img,
weather-kitty-map-alerts img {
  border: black 1px solid;
  box-sizing: border-box;
  border-radius: 1em;
  aspect-ratio: 1.38;
  width: 100cqw;
  align-self: center;
  justify-self: center;
  margin: 0;
  padding: 0;
}
