:root {
  --weatherKittyBackgroundOpacity: 0.75;
}

weather-kitty {
  flex: 0 1 auto;
  display: flex;
}

weather-kitty-current,
weather-kitty-forecast {
  box-sizing: border-box;
  position: relative;
  width: 5.67em;
  aspect-ratio: 1 / 1;
  display: flex;
  z-index: -10;

  padding: 0.1em;
  text-wrap: pretty;
  hyphens: auto;
  text-align: center;
  justify-content: center;
  align-items: end;
  overflow: hidden;

  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-shadow: 0.05em 0.05em 0 black, -0.05em -0.05em 0 black,
    -0.05em 0.05em 0 black, 0.05em -0.05em 0 black, 0.1em 0.1em 0 black,
    -0.1em -0.1em 0 black, -0.1em 0.1em 0 black, 0.1em -0.1em 0 black;
}

weather-kitty-current > img,
weather-kitty-forecast > img {
  position: absolute;
  z-index: -1;

  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center;
  opacity: var(--weatherKittyBackgroundOpacity);
}

null [tooltip]::before {
  display: none;

  position: absolute;
  content: attr(tooltip);
  opacity: 0;
  z-index: 10;
}

null [tooltip]:hover::before {
  opacity: 1;
  background-color: white;
  color: black;
  border: 1px solid black;
  padding: 0.5em;
  border-radius: 0.5em;
  font-family: Arial, Helvetica, sans-serif;
}

weather-kitty-tooltip {
  position: fixed;

  padding: 0.5em;
  border-radius: 0.5em;

  transition: all 0.33s;
  translate: 15em -15em;
  width: 15em;
  height: auto;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.75);
  border: black 3px solid;
  opacity: 0;
}

weather-kitty:hover,
weather-kitty-current:hover,
weather-kitty-forecast:hover {
  weather-kitty-current,
  weather-kitty-forecast {
    transition: all 0.33s;
    opacity: 0.5;
  }
  weather-kitty-tooltip {
    color: white;
    transition: all 0.33s;
    translate: -6.75em 0;
    width: 15em;
    height: auto;
    opacity: 1;
  }
}

/* Hide the sub-tooltip when inside a weather-kitty element.  */
weather-kitty > weather-kitty-current > weather-kitty-tooltip,
weather-kitty > weather-kitty-forecast > weather-kitty-tooltip {
  display: none;
}
